<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		" http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:mydb.db</property>
		<property name="connection.username"/>
		<property name="connection.password"/>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="pl.edu.agh.to2.model.Student"/>
		<mapping class="pl.edu.agh.to2.model.Teacher"/>
		<mapping class="pl.edu.agh.to2.model.Grade"/>
		<mapping class="pl.edu.agh.to2.model.Message"/>
		<mapping class="pl.edu.agh.to2.model.Remark"/>
		<mapping class="pl.edu.agh.to2.model.StudentGroup"/>
		<mapping class="pl.edu.agh.to2.model.Course"/>
		<mapping class="pl.edu.agh.to2.model.Attendance"/>
	</session-factory>
</hibernate-configuration>